{
default_sni {{domain_name}}
http_port 80
{% if ssl_enabled %}
https_port 443
{% endif %}
email admin@gmail.com
}
{% for sub in sub_domains %}
{{ sub.subdomain + '.' if sub.subdomain.length > 0 else ''}}{{domain_name}}, www.{{sub.subdomain + '.' if
sub.subdomain.length > 0 else ''}}{{domain_name}} {
{% if ssl_enabled %}
{% if sub.subdomain.length == 0 %}
tls /etc/cert/root/cert.crt /etc/cert/root/cert.key

{% else %}
tls /etc/cert/wildcard/cert.crt /etc/cert/wildcard/cert.key
{% endif %}
{% endif %}
reverse_proxy nginx:{{'443' if ssl_enabled else '80'}} {
transport http {
tls_insecure_skip_verify
}
}
}
{% endfor %}