{
    "project_name": "dadgam",
    "sub_domains": [
        {
            "subdomain": "",
            "cloneUrl": "https://git.hyvatech.com/daadgaam/backend",
            "branch": "dev",
            "name": "backend",
            "port": 8000,
            "volumes": [
                "./data/static:/app/staticfiles",
                "./data/media:/app/media",
                "./data/mysql_backups/:/app/backups"
            ],
            "envs": {
                "DJANGO_SETTINGS_MODULE": "dg_backend.settings.production",
                "UWSGI_WORKERS": 1,
                "DATABASE_HOST": "mysql",
                "DEBUG_MODE": 1,
                "HOST_NAME": "dadgam.io",
                "DB_NAME": "dadgam_db",
                "DB_PASS": "123456789",
                "DB_PORT": 3306,
                "APP_URL": "http://app.dadgam.io"
            },
            "depends": [
                "mysql",
                "redis"
            ]
        },
        {
            "subdomain": "chat",
            "cloneUrl": "https://git.hyvatech.com/microservice-v1/chat-service",
            "branch": "master",
            "name": "chat",
            "port": 7887,
            "exposePort": 7887,
            "volumes": [
                "./data/chat_static:/app/staticfiles",
                "./data/chat_media:/app/media"
            ],
            "envs": {
                "DJANGO_SETTINGS_MODULE": "chat_server.settings.production",
                "UWSGI_WORKERS": 1,
                "DATABASE_HOST": "mongo"
            },
            "depends": [
                "mongo"
            ]
        },
        {
            "subdomain": "app",
            "cloneUrl": "https://git.hyvatech.com/angular-frontend/dadgam-front",
            "branch": "dev",
            "name": "frontend",
            "port": 80,
            "exposePort": 8081
        }
    ],
    "domain_name": "dadgam.io",
    "ssl_enabled": true,
    "databases": [
        {
            "name": "mysql",
            "type": "mysql",
            "port": 3306,
            "dbname": "dadgam_db",
            "root_password": "123456789",
            "allow_public_db": true
        },
        {
            "name": "redis",
            "type": "redis",
            "port": 6379
        },
        {
            "name": "mongo",
            "type": "mongo",
            "port": 27017,
            "dbname": "chat_service_db",
            "timezone": "Asia/Tehran",
            "root_password": "12345qwers"
        }
    ],
    "variables": {
        "api_base_url": "https://dadgam.io/api/v1/",
        "frontend_core_clone_url": "https://git.hyvatech.com/angular-frontend/baseui-core",
        "frontend_core_clone_path": "src/app/",
        "debug_mode": true,
        "allow_public_redis": false,
        "django_base_url": "https://dadgam.io",
        "recaptcha_site_key": "6LeN6cwhAAAAAGpfHZcKIM2A36U3jKV6ZsAacFX7",
        "workflowBaseUrl": "http://192.168.31.178:8082/api/v1/"
    }
}